<!--
title: label - 散点图
resource:
  jsFiles:
    - ${url.dataSet}
    - ${url.jquery}
plotDescription: 散点图的 label 布局。
plotUsage: 按照散点图 label 布局算法对所有 label 进行二次布局。数据过于密集的情况下会剔除放不下的label。
relativePlots:
  - ${plotByName.point}
filter: 标签,标签位置
tags: 标签位置
subCat: 组件
-->
<script>
  $.getJSON('/assets/data/scatter.json', function (data) {
    const chart = new G2.Chart({
      container: 'mountNode',
      forceFit: true,
      height: window.innerHeight,
      padding: 'auto'
    });
    chart.source(data);
    chart.tooltip({
      type: 'mini'
    });
    chart.point().position('height*weight').size(4).shape('circle').opacity(0.65).label('weight', {
      type: 'scatter',
      offset: 0,
      textStyle: {
        fill: 'rgba(0, 0, 0, 0.65)',
        stroke: '#fff',
        lineWidth:2
      }
    });
    chart.render();
  });
</script>
