<script src="../../../site/zh-cn/g2/3.x/demo/data.js"></script>{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="https://gw.alipayobjects.com/os/antv/assets/lib/tocbot-3.0.2/tocbot.css"/>
<link rel="stylesheet" href="{{ dist }}/demos.css"/>
{% endblock %}
{% block content %}
<div class="toc-container">
    <div class="toc">
    </div>
</div>
<div class="demos container-fluid {% if currentProduct == 'f2' %}f2{% endif %}">
{% if keywords %}
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-12 col-xl-12">
            <h5>全部图表<i class="iconfont show-search"></i><span id="toggleSearch" class="iconfont">展开筛选</span></h5>
                <div class="search-container mini" id="searchContainer">
                    {% for type in keywords %}
                    <div>
                        <span data-text="{{type.root}}" class="tag root-tag" style="display: inline">{{type.root}}<span aria-hidden="true">&times;</span></span>
                        {% for child in type.children %}
                        <span data-text="{{child}}" class="tag">{{child}}<span aria-hidden="true">&times;</span></span>
                        {% endfor %}
                    </div>
                    <div class="tags-divider"></div>
                    {% endfor %}
                </div>
        </div>
    </div>
    <div id="noResult">
        <img src="{{ assets }}/image/empty-result.png" alt="">
    </div>
{% endif %}
    <div class="row flex-xl-nowrap" id="categories">
        <div class="col-12 col-md-12 col-xl-12">
            <div class="content">
                {% for cat in demos %}
                <h5 data-icon="{{cat.plot.icon}}">{{ cat.title }}</h5>
                <div class="row">
                    {% for demo in cat.demos %}
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center card-container" data-tags="{{demo.tag}}" data-recommend="{{demo.recommend}}">
                        <div class="card">
                            {% if demo.recommend %}
                                <img src="{{ assets }}/image/recommend.png" class="recommend-flag" />
                            {% endif %}
                            <a class="screenshot-container" href="{{ demo.href }}"{% if demo.openInNewTab %} target="_blank"{% endif %}>
                                <!--data-original="{{ demo.screenshot }}"-->
                                <img src="{{ assets }}/image/screenshot-placeholder.png"
                                    class="card-img-top screenshot lazyload"
                                    data-default="{{ demo.screenshot }}"
                                    data-dark="{{ demo.screenshotDark }}"
                                    alt="{{ demo.title }}"
                                    data-recommend="{{demo.recommend}}"
                                />
                            </a>
                            {% if demo.tags %}
                            <div class="card-body">
                                {% for tag in demo.tags %}
                                <span class="card-tag">{{tag}}</span>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block js %}
<script src="https://gw.alipayobjects.com/os/antv/assets/lib/jquery.headroom-0.9.4.min.js"></script>
<script src="https://gw.alipayobjects.com/os/antv/assets/lib/tocbot-3.0.2/tocbot.min.js"></script>
<script src="https://gw.alipayobjects.com/os/antv/assets/lib/routie-0.3.2.min.js"></script>
<script src="{{ dist }}/demos.js"></script>
{% endblock %}
